@import "../styles/variables.scss";

.header {
  @include for-mobile {
    text-align: center;
    background-color: $mint !important;
  }
}

.about-contact {
  display: grid;
  grid-template-columns: 40% 50% 20%;
  width: 90%;
  border: solid 1px $light-green;
  margin: auto;
  box-shadow: 0 4px 4px $light-grey;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 50px;

  @include for-mobile {
    grid-template-columns: repeat(1, 1fr);
  }
  .avatar {
    @include for-mobile {
      margin: 0 auto;
    }
    img {
      width: 340px;
      height: 240px;
      object-fit: cover;
      margin: 20px 10px;
      display: inline-block;
      border-radius: 10px;

      @include for-mobile {
        width: 200px;
        height: 140px;
        margin: 0;
      }
    }
  }
  .detail-info {
    h1 {
      font-size: $font-size-m-desktop;
      @include for-mobile {
        text-align: center;
      }
    }
    h3 {
      font-size: $font-size-m-mobile;
      font-family: $title-font;
      color: #6a6a6a;
      font-weight: 400;
      @include for-mobile {
        display: none;
      }
    }
    .icon-details-info {
      width: 25px;
      height: 21px;
      margin: 0 10px;
      @include for-desktop {
        display: none;
      }
    }
    .social-links {
      text-align: center;
      @include for-desktop {
        position: absolute;
        top: 260px;
        left: 120px;
      }
      h4 {
        font-size: $font-size-m-mobile;
        font-family: $title-font;
        color: #6a6a6a;
        font-weight: 400;
        margin-bottom: 8px;
      }
    }
    .export-svg {
      @include for-desktop {
        position: absolute;
        top: 340px;
        left: 150px;
        text-align: center;
      }
      h3 {
        font-size: $font-size-m-mobile;
        font-family: $title-font;
        color: #6a6a6a;
        font-weight: 400;
        margin-bottom: 8px;
        @include for-mobile {
          display: none;
        }
      }
      #desktop-export {
        width: 100px;
        height: 30px;
        @include for-mobile {
          display: none;
        }
      }
      #mobile-export {
        position: absolute;
        top: -62px;
        @include for-desktop {
          display: none;
        }
      }
    }

    h2 {
      font-size: $font-size-m-mobile;
      font-family: $title-font;
      color: #6a6a6a;
      font-weight: 400;
      margin: auto;
      text-align: center;
      margin-top: 15px;
      @include for-desktop {
        display: none;
      }
    }
  }

  .fav {
    @include for-mobile {
      position: absolute;
      top: 0;
      right: 30px;
    }
  }
}
