@import "variables.scss";

.contacts-container {
  .grid-contacts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include for-mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.small {
  min-height: 74vh;
}
