@import "variables.scss";

.contacts-container {
  min-height: 76vh;
  position: relative;

  .flex-container {
    display: flex;
    align-items: center;
    h3 {
      margin-left: 5px;
      flex: 1;
    }
  }
  .grid-contacts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 10px;

    @include for-mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .no-contact {
    font-size: $font-size-m-desktop;
    color: $dark-grey;
    margin-left: 25px;
    @include for-mobile {
      font-size: $font-size-m-mobile;
    }
  }
}
