@import "variables.scss";

.contacts-container {
  min-height: 76vh;
  position: relative;
  h3 {
    margin-left: 5px;
  }
  .sorting-menu {
    position: absolute;
    top: 0;
    right: 25px;
  }
  .grid-contacts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include for-mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
