@import "variables.scss";

footer {
  background-color: $dark-green;
  color: $bg-color-light;
  height: 90px;
  font-size: $font-size-m-desktop;
  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    div {
      margin-left: 20px;
    }
  }
}

@include for-mobile {
  footer {
    display: none;
  }
}
