@import "variables.scss";

header {
  background-color: #3aafa9;

  .header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    font-family: $title-font;
    font-size: 2.1vw;

    @include for-mobile {
      font-size: $font-size-l-mobile;
      grid-template-columns: 98% 0 0;
    }

    .contacts {
      img {
        display: none;
      }

      @include for-mobile {
        width: 49.5%;
        height: 63px;
        background-color: $dark-green;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 3;

        a {
          width: 100%;
          height: 100%;

          .text {
            display: none;
          }

          img {
            display: block;
            margin: auto;
            padding-top: 15px;
          }
        }
      }
    }

    a {
      color: $bg-color-light;
      text-decoration: none;
    }

    .line {
      border-bottom: 3px solid $bg-color-light;
      padding-bottom: 5px;
    }

    .logo-container {
      flex: 0.5;
      .logo {
        img {
          height: 60px;
          margin: 10px 20px;
        }
      }
    }

    .favorites {
      img {
        display: none;
      }
      @include for-mobile {
        width: 49.5%;
        height: 63px;
        background-color: $dark-green;
        position: fixed;
        bottom: 0px;
        right: 0;
        z-index: 3;

        a {
          width: 100%;
          height: 100%;

          .text {
            display: none;
          }
          img {
            display: block;
            margin: auto;
            padding-top: 15px;
          }
        }
      }
    }
  }
}

.hide {
  @include for-mobile {
    display: none;
  }
}
