@import "variables.scss";

div {
  .info-details {
    width: 97%;
    height: 30px;
    background-color: $light-green;
    display: grid;
    grid-template-columns: 33% 3% 29% 12%;
    margin: auto;
    margin-bottom: 15px;
    font-size: 0.9vw;
    div {
      margin: auto;
    }
    @include for-mobile {
      display: none;
    }
  }

  .list-grid-view {
    border: 1px solid $light-green;
    box-shadow: 0 4px 4px $light-grey;
    width: 97%;
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: $bg-color-light;
    margin: auto;
    margin-bottom: 10px;

    @include for-mobile {
      grid-template-columns: 40% 60%;
      height: 155px;
    }
    .list-avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 2px 4px;
      }
    }
    .list-grid-details {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      align-items: center;
      position: relative;
      @include for-mobile {
        display: flex;
        font-size: 2.8vw;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
      }
      div {
        @include for-mobile {
          padding-bottom: 5px;
        }
      }

      .list-name-surname {
        font-size: $font-size-s-desktop;
        font-weight: 600;
        padding: 9px 0;
        @include for-mobile {
          font-size: 3.4vw;
        }
      }
      .list-favorite {
        position: absolute;
        top: 0;
        right: 30px;
      }
    }
  }
}
