@import "variables.scss";

.create-contact-btn {
  a {
    text-decoration: none;
    font-family: $title-font;

    .desktop {
      cursor: pointer;
      font-size: 1.5vw;
      height: 54px;
      width: 95%;
      background-color: $bg-color-light;
      color: $dark-grey;
      border-radius: 30px;
      border: solid 1px $mint;
      @include for-large-screen {
        font-size: $font-size-s-desktop;
      }
    }

    .mobile {
      @include for-mobile {
        background-color: $light-green;
        height: 78px;
        width: 78px;
        border: 1px solid $light-green;
        border-radius: 50%;
        z-index: 3;
        left: 50%;
        bottom: 0;
        position: fixed;
        transform: translate(-50%, -50%);
        cursor: pointer;

        .text {
          display: none;
        }
      }
    }

    .mobile::after {
      @include for-mobile {
        content: url(../plus.svg);
      }
    }
  }
}
