//colors
$mint: #3aafa9;
$dark-green: #2b7a78;
$light-green: #def2f1;
$bg-color-light: #feffff;
$dark-grey: #17252a;
$grey: #585858;
$light-grey: #d2d2d2;
$dove-gray: #6a6a6a;

//fonts
$title-font: "Fira Sans", sans-serif;
$main-font: "Source Sans Pro", sans-serif;

//font sizes
$font-size-s-mobile: 14px;
$font-size-m-mobile: 18px;
$font-size-l-mobile: 24px;
$font-size-s-desktop: 24px;
$font-size-m-desktop: 26px;
$font-size-l-desktop: 36px;

@mixin for-desktop {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin for-mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin for-large-screen {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
